doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/themes/default.css")
    link(rel="stylesheet", href="/css/manage/default.css")
    link(rel="stylesheet", href="/css/manage/users.css")
    title Manage/Users - i like!
  body
    include ../includes/header_manage.pug
    main
      h2(class='subt')='Users'

      include ../includes/bar_search.pug

      table(class='tb')
        thead
          tr(class='tb-tr')
            th(class='tb-th')='ID'
            th(class='tb-th')='Username'
            th(class='tb-th')='Display name'
            th(class='tb-th')='Roles'
            th(class='tb-th')='Created account'
            th(class='tb-th')='Last change account'
            th(class='tb-th')='Actions'
        tbody
          for user in users
            tr(class='tb-tr')
              td(class='tb-td')=user.id
              td(class='tb-td')=user.username
              td(class='tb-td')=user.display_name
              td(class='tb-td')
                for rol in user.roles 
                  span(class="td-role")=rol
              td(class='tb-td')=user.created_account 
              td(class='tb-td')=user.last_change_account
              td(class='tb-td')
                a(href='/manage/sanctions/'+user.id class='td-btn' role='btn')
                  svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='td-icon')
                    path(d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V336c0 1.5 0 3.1 .1 4.6L67.6 283c-16-15.2-41.3-14.6-56.6 1.4s-14.6 41.3 1.4 56.6L124.8 448c43.1 41.1 100.4 64 160 64H304c97.2 0 176-78.8 176-176V128c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V32z")
                a(href='/manage/users/'+user.id class='td-btn' role='btn')
                  svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='td-icon')
                    path(d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z")

    script(src="/js/lib/hrMenu.js")
    script(src="/js/lib/searchBar.js")