doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/themes/default.css")
    link(rel="stylesheet", href="/css/users.css")
    title=user.username + ' - i like!'
  body()
    include ../includes/header_logged.pug
    include ../includes/nav_inapp.pug
    
    div(class='background' style=`background: url(${user.profile.banner}); background-position: top; background-size: cover;`)

    main
      div(class='usr')
        header(class=`usr-hr`)
          div(class='usr-bnr' style=`background: url('${user.profile.banner}'); background-repeat: no-repeat; background-size: cover; background-position: center;`)

          img(class='usr-avtr' src=user.profile.avatar alt='avatar of '+user.username height='75px' width='75px')

          div(class='usr-roles')
            for role in user.roles
              span(class=`usr-role role-${role}`)=role
        
        div(class='usr-inf' style=`background-color: ${user.profile.color}`)
          span(class=`usr-dspnm font-${color.suggestedTone}`)=user.display_name
          span(class=`usr-usrnm font-${color.suggestedTone}`)='@'+user.username
          span(class=`usr-abtme font-${color.suggestedTone}`)=user.profile.about_me

          if user.id !== viewer.id
            div(class='usr-interact')
              button(class=`btn usr-follow` style=`background-color: ${followedByUser ? color.converted.opaque : color.converted.normal}` data-user-id=user.id data-followed-by-user=followedByUser)
                if followedByUser
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class=`usr-icon font-${color.suggestedTone}`)
                    path(d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM472 200H616c13.3 0 24 10.7 24 24s-10.7 24-24 24H472c-13.3 0-24-10.7-24-24s10.7-24 24-24z")
                else
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class=`usr-icon font-${color.suggestedTone}`)
                    path(d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z")
          div(class=`usr-stats font-${color.suggestedTone}`)
            div(class='usr-stat')
              span(class='usr-stat-key')='Posts'
              span(class='usr-stat-val')=posts.length
            div(class='usr-stat')
              span(class='usr-stat-key')='Spaces'
              span(class='usr-stat-val')=spaces.length
            div(class='usr-stat')
              span(class='usr-stat-key')='Followers'
              if user.profile.privacy.hidden_followers
                span(class='usr-stat-val')='hidden'
              else
                span(class='usr-stat-val followers-val')=followers
            div(class='usr-stat')
              span(class='usr-stat-key')='Following'
              if user.profile.privacy.hidden_following
                span(class='usr-stat-val following-val')='hidden'
              else
                span(class='usr-stat-val')=following

        div(class='usr-mn')
          if posts.length
            section(class=`usr-posts font-${color.suggestedTone}` style=`background-color: ${user.profile.color}`)
              h2(class='subt')='My posts'

              div(class='usr-posts-cont')
                for post in posts 
                  include ../components/post_thumb.pug

          if spaces.length
            section(class=`usr-spaces font-${color.suggestedTone}` style=`background-color: ${user.profile.color}`)
              h2(class='subt')='My spaces'

              div(class='usr-spaces-cont')
                for space in spaces 
                  include ../components/space.pug
    
    script(src="/js/lib/hrMenu.js")
    script(src="/js/lib/goTop.js")
    script(src="/js/users.js")