- style = `background: url('${post.banner}'); background-position: center; background-size: cover;`

div(class='post-thb')
  header(class='post-thb-hr')
    div(class='post-thb-bnr' style=style)

  div(class='post-thb-mn')
    h2(class='post-thb-ttl')=post.title

    div(class='post-thb-inf')
      if space
          span(class='post-thb-author')='by '
            a(href='/users/'+post.author.username class='link')='@'+post.author.username
          
          if post.spaceId.id.toString() !== space.id.toString()
            span(class='post-thb-space')='from '+post.spaceId.name
      else
        span(class='post-thb-space')='from '
          a(href='/spaces/'+post.spaceId.id class='link')=post.spaceId.name

    if post.tags
      div(class='post-thb-tags')
        for tag in post.tags 
          span(class='post-thb-tag')=tag
          
    p(class='post-thb-cont')=post.content
  
  footer(class='post-thb-fr')
    div(class='post-thb-stats')
      span(class='post-thb-stat')
        svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='post-thb-icon icon-heart')
          path(d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z")
        span(class='post-thb-count')=0
  
      span(class='post-thb-stat')
        svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='post-thb-icon icon-comment')
          path(d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z")
        span(class='post-thb-count')=0
      
      span(class='post-thb-stat')
        svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='post-thb-icon icon-share')
          path(d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z")
        span(class='post-thb-count')=0

    a(href='/posts/'+post.id class='btn post-thb-view')
      svg(xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" class='post-thb-icon')
        path(d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z")