- let userBanner = `background: url('${user.profile.banner}'); background-position: top; background-size: cover;`
- let userAvatar = `background: url('${user.profile.avatar}'); background-position: top; background-size: cover; background-color: ${user.profile.color}`

div(class='profile-thb' style=`background-color: ${user.profile.color}`)
  header(class='profile-thb-hr')
    div(class='profile-thb-bnr' style=userBanner data-banner=user.profile.banner data-color=user.profile.color)
    div(class='profile-thb-avtr' style=userAvatar data-avatar=user.profile.avatar data-color=user.profile.color)
            
  div(class='profile-thb-mn' style=`background-color: ${user.profile.color}`)
    span(class='profile-thb-disname' data-display-name=user.display_name)=user.display_name
    span(class='profile-thb-username' data-username=user.username)='@'+user.username

    p(class='profile-thb-abtme' data-about-me=user.profile.about_me)=user.profile.about_me